In [1]:
import numpy as np
import pickle
import pandas as pd

In [2]:
message=[2,1,2,0]

In [3]:
final_features = [np.array(message)]

In [4]:
model = pickle.load(open('model.pkl', 'rb'))

C:\Users\user\.conda\envs\deeplearning\lib\site-packages\sklearn\utils\deprecation.py:144: FutureWarning: The sklearn.linear_model.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.linear_model. Anything that cannot be imported from sklearn.linear_model is now part of the private API.
  warnings.warn(message, FutureWarning)
C:\Users\user\.conda\envs\deeplearning\lib\site-packages\sklearn\base.py:318: UserWarning: Trying to unpickle estimator LinearRegression from version 0.19.1 when using version 0.22.1. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

In [5]:
prediction = model.predict(final_features)

In [6]:
df = pd.read_csv('housing.csv')

In [7]:
df

   rooms  garden  washroom  place   rent
0      2       1         1  harmu   8000
1      3       1         2  harmu  12000
2      4       0         2  kanke  10000
3      1       1         1  kanke   5000
4      2       2         2  harmu   9000
5      3       0         1  harmu  10000
6      1       1         2  kanke   4000
7      3       1         1  kanke  12000
8      4       1         2  harmu  12000

In [8]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
label_encoder = LabelEncoder()
df['place']= label_encoder.fit_transform(df['place'])

In [9]:
df

   rooms  garden  washroom  place   rent
0      2       1         1      0   8000
1      3       1         2      0  12000
2      4       0         2      1  10000
3      1       1         1      1   5000
4      2       2         2      0   9000
5      3       0         1      0  10000
6      1       1         2      1   4000
7      3       1         1      1  12000
8      4       1         2      0  12000

In [10]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [11]:
X

   rooms  garden  washroom  place
0      2       1         1      0
1      3       1         2      0
2      4       0         2      1
3      1       1         1      1
4      2       2         2      0
5      3       0         1      0
6      1       1         2      1
7      3       1         1      1
8      4       1         2      0

In [12]:
y

0     8000
1    12000
2    10000
3     5000
4     9000
5    10000
6     4000
7    12000
8    12000
Name: rent, dtype: int64

In [13]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

In [14]:
regressor.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [15]:
pickle.dump(regressor, open('model.pkl','wb'))